/* Personalizzazione della scrollbar */
#barra::-webkit-scrollbar {
	width: 12px;
  }
  
  #barra::-webkit-scrollbar-thumb {
	background-color: #9386D0;
	border-radius: 6px;
  }
  
  #barra::-webkit-scrollbar-track {
	background-color: #453881;
  }
  
  #barra::-webkit-scrollbar-corner {
	background-color: transparent;
  }
  
  
.background {
	/* background-color: #F2F5FF; */
	/* background-color: #E5F4EB; */
	background-color:  #5D4CA9;
	background-attachment: fixed;
	background-size: cover;
}

.titolo {
	font-size: 320%;
	text-align: center;
	font-family: 'Georgia';
	font-weight: bold;
	margin-top: 3%;
	color:  #FED26B;
	-webkit-text-stroke: 1px black; /* Contorno nero di 2px */
}

.titoloParagrafo {
	font-size: 250%;
	text-align: center;
	font-family: 'Georgia';
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 2%;
	color: #FAFF81;
	-webkit-text-stroke: 1px black
}

.introduzione {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	font-family: 'Georgia';
	/* font-family: 'Circular'; */
	color: white;
}

.testoParagrafo {
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	font-family: 'Georgia';
}

.bannerSx {
	height: 64%;
	width: 20%;
	background-color: #E165E1;
	color: white;
	text-align: center;
	padding: 5px;
	position: fixed;
	left: 45px;
	top: 140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bannerDx {
	height: 64%;
	width: 20%;
	background-color: #E165E1;
	color: white;
	text-align: center;
	padding: 5px;
	position: fixed;
	right: 45px;
	top: 140px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.paragrafo  {
	height: 450px;
	overflow: hidden;
	width: 45%;
	color: white;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	position: relative;
	margin-left: 27%;
	margin-right: 30%;
	margin-top: 1%;
	margin-bottom: 2px;
	justify-content: center;
}

.paragrafo-piccolo  {
	height: 350px;
	overflow: hidden;
	width: 45%;
	color: white;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	position: relative;
	margin-left: 27%;
	margin-right: 30%;
	margin-top: 1%;
	margin-bottom: 2px;
	justify-content: center;
}

.paragrafo-grande {
	height: 550px;
	overflow: hidden;
	width: 45%;
	color: white;
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	position: relative;
	margin-left: 27%;
	margin-right: 30%;
	margin-top: 1%;
	margin-bottom: 2px;
	justify-content: center;
}

.contenitoreImmagini {
	margin-left: 40px;
	margin-right: 40px;
}

.immagine {
	border: 3px solid #8577C4;
	margin-right: 10px;
	margin-top: 5px;
}