/* Personalizzazione della scrollbar su Chrome, Edge e Safari */
#barra::-webkit-scrollbar {
	width: 12px;
  }
  
  #barra::-webkit-scrollbar-thumb {
	background-color: darkgray;
	border-radius: 6px;
  }
  
  #barra::-webkit-scrollbar-track {
	background-color: lightgray;
  }
  
  #barra::-webkit-scrollbar-corner {
	background-color: transparent;
  }
  
  
.background {
	/* background-image: url("immagini/background1.png"); */
	background-attachment: fixed;
	background-size: cover;
}

.titolo {
	/* font-size: 40px; */
	text-align: center;
	font-family: 'Georgia';
	font-weight: bold;
	margin-top: 2%;
}

.titoloParagrafo {
	/* font-size: 30px; */
	/* background-color: green; */
	text-align: center;
	font-family: 'Georgia';
	font-weight: bold;
	margin-top: 1%;
	margin-bottom: 2%;
}

.introduzione {
	/* background-color: #BE25BE; */
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	font-family: 'Georgia';
}

.testoParagrafo {
	/* background-color: #BE25BE; */
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	font-family: 'Georgia';
}

.bannerSx {
	/* height: 85%; */
	height: 64%;
	width: 20%; /*350px*/
	background-color: #BE25BE;
	color: white;
	text-align: center;
	padding: 5px;
	position: fixed;
	left: 60px;
	top: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.bannerDx {
	/* height: 85%; */
	height: 64%;
	width: 20%;
	background-color: #BE25BE;
	color: white;
	text-align: center;
	padding: 5px;
	position: fixed;
	right: 60px;
	top: 120px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.paragrafo  {
	height: 400px;
	overflow: hidden;
	width: 45%;
	/* background-color: cyan; */
	color: black;
	/* background-color: green; */
	text-align: center;
	word-wrap: break-word;
	padding: 1%;
	position: relative;
	margin-left: 27%;
	margin-right: 30%;
	margin-top: 1%;
	margin-bottom: 2px;
	/*left: var(--larghezzaFinestra);*/
	/*left: 590px; /*1920/2-width/2*/ /*960-350-20*/ /*20 pixel di errore*/
	/*top: 300px;*/
	/*display: flex;*/
	/*flex-direction: row;*/
	justify-content: center;
}

.contenitoreImmagini {
	margin: 40px;
}

.immagine {
	margin-right: 10px;
}